.header {
	position: relative;
	height: 100vh;
}

.header__slider {
	&-item {
		height: 100vh;
		background-image: url(../img/header-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
	}
}

.slider-item__info {
	position: absolute;
	right: 80px;
	bottom: 116px;
	text-align: right;
	color: #fff;
	text-transform: uppercase;

}

.slider-item__info-suptitle {
	margin-bottom: 5px;
}

.slider-item__info-suptext {
	margin-bottom: 8px;
}

.slider-item__info-title {
	font-weight: 800;
	font-size: 80px;
	line-height: 86px;
	margin-bottom: 48px;
}

.slider-item__info-text {
	font-weight: 800;
	font-size: 40px;
	line-height: 46px;
	margin-bottom: 20px;
}

.slider-arrows {
	position: absolute;
	top: 40px;
	right: 80px;
	cursor: pointer;
	z-index: 5;
}

.slider-arrows__left {
	right: 125px;
}

.slider-dots {
	position: absolute;
	right: 80px;
	bottom: 36px;
	max-width: 920px;
	width: 100%;
	color: #fff;

	.slick-current {
		.dots-box {
			border-top: 4px solid $green;
		}
	}
}

.dots-box {
	width: 200px;
	display: flex;
	justify-content: space-between;
	height: 28px;
	align-items: center;
	border-top: 4px solid #fff;
	padding-top: 6px;

	&__number {
		font-size: 24px;
		line-height: 34px;
		font-weight: 800;
	}

	&__name {
		font-weight: 300;
		line-height: 19px;
	}
}

.header__aside {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	border-right: 1px solid rgba(#fff, .25);
	height: 100vh;
	color: #fff;
}

.header__title {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	color: #fff;
	opacity: 0.07;
	max-width: 467px;
	font-weight: 800;
	font-size: 200px;
	line-height: 156px;
	text-transform: uppercase;
}

.header__search {
	padding-top: 20px;
	padding-bottom: 50px;
}

.menu {
	padding-top: 40px;

	a {
		color: #fff;

		span {
			display: block;
			font-size: 12px;
			letter-spacing: 3px;
			font-weight: 500;
			line-height: 14px;
			padding-top: 6px;
			margin-bottom: 20px;
		}
	}
}

.header__date {
	font-weight: 800;
	font-size: 72px;
	line-height: 64px;

	span {
		padding-top: 15px;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 1.4px;
		margin-bottom: 30px;
		display: block;

	}
}

.header__location {
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.05px;
	font-weight: 300;
	position: relative;
	padding-left: 19px;

	&:before {
		position: absolute;
		content: '';
		width: 11px;
		height: 13px;
		background-image: url(../img/marker.svg);
		left: 0;
		top: 0;
	}
}

.header__map {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 4;
}

.header__arrows {
	position: absolute;
	left: 210px;
	bottom: 40px;
	z-index: 3;
	transition: all 0.5s ease;
	animation: fadeInDown 2s linear infinite;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// DOTS ANIMATED
.dots__one {
	animation: fadeIn 2s linear 1s;
}

.dots__tho {
	animation: fadeIn 2s linear 2s;
}

.dots__three {
	animation: fadeIn 2s linear 3s;
}

.dots__four {
	animation: fadeIn 2s linear 4s;
}

.dots__line {
	animation: animDash 4s infinite 5s;
	stroke-dashoffset: 600;
	stroke-dasharray: 600;
}

.dots__five {
	animation: fadeIn 2s linear 9s;
}

@keyframes animDash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// </ DOTS ANIMATED